.image-gallery-slide.center {
  display: flex !important;
  justify-content: center !important;
}

.image-gallery-slide .image-gallery-image {
  width: 450px !important;
  height: 250px;
  object-fit: contain;
}

.image-item img {
  object-fit: contain !important;
  height: 80px !important;
}

.window-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.window-container {
  position: relative;
  background-color: #fff;
  width: 850px;
  height: auto;
  padding: 1.5rem;
  border-radius: 20px;
  animation-name: modal;
  animation-duration: 0.5s;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.4);
  border: 3px solid #000aff;
  z-index: 10;
}

.window-background-disabled {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.window-container-disabled {
  position: relative;
  width: 500px;
  height: auto;
  padding: 10px 20px;
  border-radius: 20px;
  animation-name: modal;
  background-color: #fff;
  border: 3px solid #000aff;
  animation-duration: 0.5s;
  z-index: 10;
}

.close {
  transition: transform 0.8s cubic-bezier(0, -0.42, 1, -0.41);
  transform: translateY(90vh);
}

@keyframes modal {
  from {
    transform: translateY(50vh);
  }

  to {
    transform: translateY(0);
  }
}
